* {
  box-sizing:border-box;
  margin:0px;
  font-family: "Oswald", sans-serif;
}
body {
  background-color:rgb(255, 255, 255);
}
[class*="col-"] {
  border:0px solid black;
  float:left;
  padding:5px 5px;
}
p {text-align:center;}
a {text-align:center;}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.navlink {
  display: block;
  font-size:20px;
  padding: 16px 0px 0px 0px;
}
a {
  color:rgb(224, 224, 224);
  text-decoration:none;
}
a:hover {
  color:rgb(124, 126, 133);
}
#title {
  padding: 8px 0px 0px 10px;
  font-size:25px;
  color: rgb(219, 219, 219);
}
#nav {
  background-color:rgb(28, 35, 51);
}
#footer {
  background-color:rgb(28, 35, 51);
  color: rgb(219, 219, 219);
}